*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.bg {
 background-image: url(resource/background.avif);
 background-size: cover;
 background-repeat: no-repeat;
 min-height: 100vh;

 padding-top: 4.5em;
}

.container {
    width: 75%;
    max-width: 1100px;
    min-height: 80vh;

    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.main {
    background-color: rgba(112, 108, 80, 0.8);
    padding: 1em;
    color: #d5c79c;

    font-weight: 400;
    letter-spacing: 1px;
}

h2 {
    margin: 0 auto 1.2em;

    font-size: 2rem;
    font-weight: 900;
}
.main p {
    margin: 0;
    padding-bottom: 0.5em;
}
#save-el {
    font-size: 1.2rem;
    font-weight: 900;
}

button {
    padding: .7em 1.2em;
    margin-bottom: .8em;
    background-color: #9e9980;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-size: 1.1rem;
    color:#f1f0ec;
    text-transform: uppercase;
    font-weight: 900;

    transition: all 0.2s ease;
}
button:active {
    transform: scale(0.96);
}
#increment-btn {
    background-color: #072d8d;
}
#save-btn {
    padding: 0.7em 2.8em;
}

.footer {
    background-color:  rgba(44, 42, 33, 0.8);
    padding: .2em;
    margin-top: 1.5em;
}
.footer-text {
    text-align: center;

    font-size: .8rem;
    font-weight: 400;
    color: #636158;
}

@media (min-width: 700px) {
    .row {
        display: flex;
        flex-direction: row;
    }

    h1 {
        font-size: 3.4rem;
    }
    h2 {
        font-size: 3rem;
    }
    .main p, #save-el {
        font-size: 1.5em;
    }

    .main {
        padding: 1.5rem;
    }

    button {
        margin:  0 .7em  1.5em 0;

        font-size: 1.5rem;
    }

    .footer-text {
        font-size: 1rem;
    }
}




